.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-text10 {
  display: inline-block;
  text-decoration: none;
}
.about-text11 {
  display: inline-block;
}
.about-text12 {
  display: inline-block;
  text-decoration: none;
}
.about-text13 {
  display: inline-block;
}
.about-text14 {
  display: inline-block;
  font-weight: 600;
}
.about-text15 {
  display: inline-block;
  font-weight: 600;
}
.about-text16 {
  display: inline-block;
  font-weight: 600;
}
.about-text17 {
  display: inline-block;
  font-weight: 600;
}
.about-text18 {
  display: inline-block;
}
.about-text21 {
  display: inline-block;
}
.about-text22 {
  display: inline-block;
}
.about-text23 {
  display: inline-block;
}
.about-text24 {
  display: inline-block;
}
.about-text25 {
  display: inline-block;
  text-align: center;
}
.about-text26 {
  display: inline-block;
}
.about-text27 {
  display: inline-block;
}
.about-text28 {
  display: inline-block;
}
.about-text29 {
  display: inline-block;
}
.about-text30 {
  display: inline-block;
}
.about-text31 {
  display: inline-block;
}
.about-text32 {
  display: inline-block;
  align-self: flex-start;
}
.about-text33 {
  display: inline-block;
}
.about-text34 {
  display: inline-block;
}
.about-text35 {
  display: inline-block;
}
.about-text36 {
  display: inline-block;
}
.about-text37 {
  display: inline-block;
}
.about-text38 {
  display: inline-block;
}
.about-text39 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  text-align: center;
}
.about-text40 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.about-text41 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  text-align: center;
}
.about-text42 {
  display: inline-block;
  text-align: center;
}
.about-text43 {
  display: inline-block;
}
.about-text44 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.about-text45 {
  display: inline-block;
  text-align: center;
}
.about-text46 {
  display: inline-block;
}
.about-text47 {
  display: inline-block;
}
.about-text48 {
  display: inline-block;
}
.about-text49 {
  display: inline-block;
}
.about-text50 {
  display: inline-block;
}
.about-text51 {
  display: inline-block;
}
.about-text52 {
  display: inline-block;
}
.about-text53 {
  display: inline-block;
}
.about-text54 {
  display: inline-block;
}
.about-text55 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.about-text56 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.about-text57 {
  display: inline-block;
}
.about-text58 {
  display: inline-block;
}
.about-text59 {
  display: inline-block;
}
@media(max-width: 767px) {
  .about-text46 {
    text-align: center;
  }
}
