.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-text {
  display: inline-block;
  text-decoration: none;
}
.home-text01 {
  display: inline-block;
}
.home-text02 {
  display: inline-block;
  text-decoration: none;
}
.home-text03 {
  display: inline-block;
}
.home-text04 {
  display: inline-block;
  font-weight: 600;
}
.home-text05 {
  display: inline-block;
  font-weight: 600;
}
.home-text06 {
  display: inline-block;
  font-weight: 600;
}
.home-text07 {
  display: inline-block;
  font-weight: 600;
}
.home-text08 {
  display: inline-block;
}
.home-text09 {
  display: inline-block;
}
.home-text10 {
  display: inline-block;
}
.home-text11 {
  display: inline-block;
  text-decoration: none;
}
.home-text12 {
  display: inline-block;
}
.home-text13 {
  display: inline-block;
}
.home-text14 {
  display: inline-block;
}
.home-text15 {
  display: inline-block;
  text-align: center;
}
.home-text16 {
  display: inline-block;
  text-align: center;
  font-family: "Noto Sans";
}
.home-text17 {
  display: inline-block;
}
.home-text18 {
  display: inline-block;
}
.home-text19 {
  display: inline-block;
}
.home-text20 {
  display: inline-block;
}
.home-text21 {
  display: inline-block;
}
.home-text22 {
  display: inline-block;
}
.home-text23 {
  display: inline-block;
}
.home-text24 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-text25 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-text26 {
  display: inline-block;
}
.home-text27 {
  display: inline-block;
  text-align: center;
}
.home-text28 {
  display: inline-block;
  text-align: center;
}
.home-text29 {
  display: inline-block;
}
.home-text30 {
  display: inline-block;
}
.home-text31 {
  display: inline-block;
}
.home-text32 {
  display: inline-block;
}
.home-text33 {
  display: inline-block;
}
.home-text34 {
  display: inline-block;
}
.home-text35 {
  display: inline-block;
}
.home-text36 {
  display: inline-block;
}
.home-text37 {
  display: inline-block;
}
.home-text38 {
  display: inline-block;
}
.home-text39 {
  display: inline-block;
  text-align: center;
}
.home-text40 {
  display: inline-block;
  text-align: center;
}
.home-text41 {
  display: inline-block;
  text-align: center;
}
.home-text42 {
  display: inline-block;
  text-align: center;
}
.home-text43 {
  display: inline-block;
  text-align: left;
}
.home-text44 {
  display: inline-block;
  text-align: left;
}
.home-text45 {
  display: inline-block;
  text-align: left;
}
.home-text46 {
  display: inline-block;
  text-align: left;
}
.home-text47 {
  display: inline-block;
  text-align: center;
}
.home-text48 {
  display: inline-block;
}
.home-text49 {
  display: inline-block;
}
.home-text50 {
  display: inline-block;
}
.home-text51 {
  display: inline-block;
}
.home-text52 {
  display: inline-block;
}
.home-text53 {
  display: inline-block;
}
.home-text54 {
  display: inline-block;
}
.home-text55 {
  display: inline-block;
}
.home-text56 {
  display: inline-block;
}
.home-text57 {
  display: inline-block;
}
.home-text58 {
  display: inline-block;
}
.home-text59 {
  display: inline-block;
}
.home-text60 {
  display: inline-block;
}
.home-text61 {
  display: inline-block;
}
.home-text62 {
  display: inline-block;
}
.home-text63 {
  display: inline-block;
}
.home-text64 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
