.services-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.services-text10 {
  display: inline-block;
}
 
.services-text11 {
  display: inline-block;
}
 
.services-text12 {
  display: inline-block;
}
 
.services-text13 {
  display: inline-block;
}
 
.services-text14 {
  display: inline-block;
}
 
.services-text15 {
  display: inline-block;
}
 
.services-text16 {
  display: inline-block;
}
 
.services-text17 {
  display: inline-block;
}
 
.services-text18 {
  display: inline-block;
}
 
.services-text21 {
  display: inline-block;
}
 
.services-text22 {
  display: inline-block;
}
 
.services-text23 {
  display: inline-block;
}
 
.services-text24 {
  display: inline-block;
}
 
.services-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.services-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
 
.services-text25 {
  display: inline-block;
}
 
.services-text26 {
  display: inline-block;
}
 
.services-text29 {
  display: inline-block;
}
 
.services-text30 {
  display: inline-block;
}
 
.services-text31 {
  display: inline-block;
}
 
.services-text32 {
  display: inline-block;
}
 
.services-text33 {
  display: inline-block;
}
 
.services-text34 {
  display: inline-block;
}
 
.services-text35 {
  display: inline-block;
}
 
.services-text36 {
  display: inline-block;
}
 
.services-text37 {
  display: inline-block;
}
 
.services-text38 {
  display: inline-block;
}
 
.services-text39 {
  display: inline-block;
}
 
.services-text40 {
  display: inline-block;
}
 
.services-text41 {
  display: inline-block;
}
 
.services-text42 {
  display: inline-block;
}
 
.services-text43 {
  display: inline-block;
}
 
.services-text44 {
  display: inline-block;
}
 
.services-text45 {
  display: inline-block;
}
 
.services-text46 {
  display: inline-block;
}
 
.services-text47 {
  display: inline-block;
}
 
.services-text48 {
  display: inline-block;
}
 
.services-text49 {
  display: inline-block;
}
 
.services-text50 {
  display: inline-block;
}
 
.services-text51 {
  display: inline-block;
}
 
.services-text52 {
  display: inline-block;
}
 
.services-text53 {
  display: inline-block;
}
 
.services-text54 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .services-text27 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .services-text27 {
    color: var(--dl-color-theme-neutral-light);
  }
}
