.navbar-final-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-final-navbar-interactive {
  width: 100%;
  height: 59px;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-final-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-final-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-final-home {
  text-decoration: none;
}
.navbar-final-about-us {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-final-link51 {
  text-decoration: none;
}
.navbar-final-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-final-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar-final-icon10 {
  width: 24px;
  height: 24px;
}
.navbar-final-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar-final-icon12 {
  width: 24px;
  height: 24px;
}
.navbar-final-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-final-contact {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar-final-action21 {
  display: flex;
  flex-direction: row;
}
.navbar-final-burger-menu {
  display: none;
}
.navbar-final-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-final-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-final-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-final-logo {
  height: 3rem;
}
.navbar-final-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-final-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-final-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.navbar-final-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-final-icon-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-final-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-final-icon18 {
  width: 24px;
  height: 24px;
}
.navbar-final-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-final-icon20 {
  width: 24px;
  height: 24px;
}
.navbar-final-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.navbar-final-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar-final-page1-image1 {
  width: 50px;
  height: 50px;
}
.navbar-final-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar-final-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar-final-page2-image1 {
  width: 50px;
  height: 50px;
}
.navbar-final-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar-final-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar-final-page3-image1 {
  width: 50px;
  height: 50px;
}
.navbar-final-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar-final-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar-final-page4-image1 {
  width: 50px;
  height: 50px;
}
.navbar-final-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar-final-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.navbar-final-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navbar-final-container7 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar-final-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navbar-final-menu-item5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar-final-page1-image2 {
  width: 30px;
  height: 30px;
}
.navbar-final-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-menu-item6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar-final-page2-image2 {
  width: 30px;
  height: 30px;
}
.navbar-final-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-menu-item7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar-final-page3-image2 {
  width: 30px;
  height: 30px;
}
.navbar-final-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-menu-item8 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar-final-page4-image2 {
  width: 30px;
  height: 30px;
}
.navbar-final-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-container8 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-final-text14 {
  display: inline-block;
}
.navbar-final-text15 {
  display: inline-block;
  text-decoration: none;
}
.navbar-final-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar-final-text17 {
  display: inline-block;
  font-weight: 600;
}
.navbar-final-text18 {
  display: inline-block;
}
.navbar-final-text19 {
  display: inline-block;
}
.navbar-final-text20 {
  display: inline-block;
  font-weight: 600;
}
.navbar-final-text21 {
  display: inline-block;
}
.navbar-final-text22 {
  display: inline-block;
}
.navbar-final-text23 {
  display: inline-block;
}
.navbar-final-text24 {
  display: inline-block;
  font-weight: 600;
}
.navbar-final-text25 {
  display: inline-block;
  font-weight: 600;
}
.navbar-final-text26 {
  display: inline-block;
}
.navbar-final-text27 {
  display: inline-block;
  font-weight: 600;
}
.navbar-final-text28 {
  display: inline-block;
}
.navbar-final-text29 {
  display: inline-block;
}
.navbar-final-text30 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar-final-text31 {
  display: inline-block;
  text-decoration: none;
}
.navbar-final-text32 {
  display: inline-block;
}
.navbar-final-text33 {
  display: inline-block;
  font-weight: 600;
}
.navbar-final-text34 {
  display: inline-block;
  text-decoration: none;
}
.navbar-final-text35 {
  display: inline-block;
  text-decoration: none;
}
@media(max-width: 767px) {
  .navbar-final-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-final-desktop-menu {
    display: none;
  }
  .navbar-final-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-final-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-final-container6 {
    grid-gap: 0;
  }
  .navbar-final-link5-menu-list {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-final-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-final-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
